body {
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    top: -21px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1fr 0.2fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
    grid-template-areas: 
        "header header header"
        "cells cells cells"
        "footer footer footer";
}

header {
    background-color: blueviolet;
    width: auto;
    height: 80px;
    grid-area: header;
    margin: 0 0 10px 0;
    padding: 0 0 0 10px;
}

.month {
    padding: 15px 0 0 0;
    font-size: 2rem;
}

.date {
    position: relative;
    text-align: right;
    font-size: 0.80rem;
    top: -50px;
    padding: 0 15px 0 0;
}

table {
    position: relative;
    top: -160px;
}

.cells {
    grid-area: cells;
    position: relative;
} 

.cell {
    position: relative;
    list-style-type: none;
    background-color: rgb(255, 255, 255);
    width: 8.2rem;
    height: 6rem;
    margin: 0 10px 15px 0;
    /* padding: 0 0 0 10px; */
    float: left;
    left: 6px;
    border: 1px solid rgb(129, 127, 127);
    border-radius: 5%;
}

.day-of-week {
    line-height: 1;
    font-size: 0.8rem;
    text-align: center;
}

.day-of-month {
    line-height: 0;
    font-size: 0.75rem;
    padding: 0 0 0 10px;
}

.footer {
    position: relative;
    grid-area: footer;
    background-color: crimson;
    width: 100%;
    height: auto;
}