/*
    make 3 rows of cells for the horizontal scrolling.
*/

body {
    margin: 0;
    padding: 0;
}

/* .container {
    position: relative;
    height: 35rem;
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 0.2fr 1fr 0.2fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
    grid-template-areas: 
        "header"
        "cells-1"
        "cells-2"
        "cells-3"
        "footer";
    overflow: scroll;
}

header {
    background-color: blueviolet;
    width: auto;
    height: 80px;
    grid-area: header;
    margin: 0 0 10px 0;
    padding: 0 0 0 10px;
    align-self: flex-start;
}

.month {
    padding: 15px 0 0 0;
    font-size: 2rem;
}

.date {
    position: relative;
    text-align: right;
    font-size: 0.80rem;
    top: -50px;
    padding: 0 15px 0 0;
}

table {
    height: 100%;
}

.cells {
    display: inline-flex;
    position: relative;
    align-self: center;
} 

.cell {
    position: relative;
    background-color: rgb(255, 255, 255);
    width: 8.2rem;
    height: 6rem;
    margin: 0 10px 15px 0;
    float: left;
    left: 6px;
    border: 1px solid rgb(129, 127, 127);
    border-radius: 5%;
    z-index: 1;
}

.row-1 {
    grid-area: cells-1;
    grid-row-start: 1;
}

.row-2 {
    grid-area: cells-2;
    grid-row-start: 2;
}

.row-3 {
    grid-area: cells-3;
    grid-row-start: 3;
}

.day-of-week {
    line-height: 1;
    font-size: 0.8rem;
    text-align: center;
}

.day-of-month {
    line-height: 0;
    font-size: 0.75rem;
    padding: 0 0 0 10px;
}

.footer {
    position: relative;
    grid-area: footer;
    background-color: crimson;
    width: 100%;
    height: auto;
    align-self: flex-end;
} */

:root {
    --cell-background-color: rgba(0, 250, 154, 0.705);
}

/* none of the main css seems to be applying */

main {
    position: relative;
    display: inline-table;
    overflow-x: scroll;
    overflow-y: hidden;
}

td {
    position: relative;
    background-color: rgb(255, 255, 255);
    width: 8.2rem;
    height: 6rem;
    margin: 0 5px 15px 0;
    float: left;
    left: 3.5px;
    border: 1px solid rgb(129, 127, 127);
    border-radius: 5%;
    z-index: 1;
}

.cell:hover {
    background-color: var(--cell-background-color);
}

.task-card-container {
    position: absolute;
    background-color: white;
    visibility: hidden;
    height: 500px;
    width: 300px;
    margin: auto;
    top: 0;
    z-index: 2;
    border: 1px solid grey;
}

.task-card-input {
    position: absolute;
    width: 94%;
    bottom: 0px;
}